:root {
  --sf-header-height: 8rem;
  --sf-quicksand: 'Quicksand';
  --sf-bloomsbury: 'bloomsburysans';
  --sf-roboto: 'Roboto', sans-serif;

  --sf-font-size-body: 2.8rem;
  --sf-font-size-heading: 9rem;
  --sf-font-body: var(--sf-quicksand), sans-serif; 
  --sf-font-heading: var(--sf-bloomsbury), var(--sf-quicksand), sans-serif;

  --sf-ease: cubic-bezier(0.25, 1, 0.5, 1);
  --sf-mobile-menu-speed: .5s;

  --sf-color-flavor-background: #F3EFD4;
}

body {
  --wp--preset--font-size--x-large: var(--sf-font-size-heading);

  font-family: var(--sf-font-body);
  font-weight: 500;
  font-size: var(--sf-font-size-body);
  color: black;
}

main {
  margin-top: calc(var(--sf-header-height)* -1);
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .25em;
  line-height: 1;
}

p {
  margin-bottom: 1em;
}

/* header */
#navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: var(--sf-header-height);
  padding: 0 max(3%, 1.8rem);
  background: transparent !important;
}

.navbar-brand {
  font-size: clamp(3rem, 3vw, 3rem) !important;
}

.navbar-toggler {
  border: 0;
  background: none;
}

.navbar-toggler-icon {
  background: none !important;
  height: auto;
  width: auto;
}

.navbar-toggler:focus {
  animation: .8s toggler-reaction cubic-bezier(1, 0, 0, 1) forwards; 
}

span.sf-nav-text {
  letter-spacing: -.025em;
}

span.navbar-toggler-icon svg {
  display: block;
  width: 3.4em;
}
  
#navbarDropdown {
  position: fixed;
  top: 0;
  background: var(--sf-theme-primary);
  left: 0;
  right: 0;
  min-height: 100svh;
  transform: translate3d(100%, -100%, 0) scale(.6) rotateX(40deg);
  border-radius: 0 0 0 100%;
  transition: transform var(--sf-mobile-menu-speed) var(--sf-ease), border-radius var(--sf-mobile-menu-speed) var(--sf-ease);
  overflow-x: hidden;
}

.sf-nav__menu-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sf-nav__nav-container {
  height: 100%;
  overflow-y: auto;
}

#navbarDropdown.show {
  transform: translate3d(0, 0, 0) scale(1) rotateY(0);
  border-radius: 0 0 0 0;
}

#navbarDropdown .navbar-nav {
  opacity: 0;
  transition: opacity .6s ease-out;
  transition-delay: 0s;
  height: 100%;
  display: grid;
  padding: max(8%, 19rem) 0;
}

#navbarDropdown.show .navbar-nav {
  opacity: 1;
  transition-delay: calc(var(--sf-mobile-menu-speed) * 1.5);
}

.navbar-light .navbar-nav .nav-link {
  font-size: clamp(1.4rem, calc(5vw + 1rem), 7rem) !important;
  font-family: var(--sf-font-heading);
  color: black;
}

/* FOOTER */
footer {
  background-color: #222222 !important;
  font-size: 11px;
  font-weight: 500;
  font-family: var(--sf-roboto);
}

footer, footer a{
  color: #c5c5c5;
}

.mpire-m,
footer a.mpire-link:hover {
 color: #c51520;
}

.dev-copyright {
  color: #717171;
}

/* ==========================================================================
   Main Content
   ========================================================================== */

section.sf-hero {
  height: 100svh;
}

.sf-hero__background {
  height: 100%;
  width: 100%;
}

.sf-hero__background.sf-cans {
  --cans-width: max(min(93vw, 150rem), 50rem);
  width: var(--cans-width);
  height: calc(var(--cans-width)* 1.2);
  transform: rotate(90deg);
  transform-origin: 40%;
  top: auto;
  bottom: 0;
  left: 20%;
}

.sf-hero__content {
  width: 100%;
  max-width: max(min(78%, 90rem), 31rem);
  margin: 0 auto;
}

.sf-hero__content h1 {
  font-size: clamp(2rem, 15vw, 20rem) !important;
  display: flex;
  flex-direction: column;
  text-shadow: 0 0 .05em rgba(0,0,0,.25);
  color: #FFFFFF;
}

/* homepage page content */

section#sf-main__content {
  background-color: pink;
}

section#sf-main__content a {
  font-family: var(--sf-font-heading);
}

/* Flavor loop */
#sf-flavors .sf-section {
  background-color: var(--sf-color-flavor-background);
}

/* ==========================================================================
   Animations
   ========================================================================== */

@keyframes toggler-reaction {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  10% {
    transform: scale(1);
  }
}
/* ==========================================================================
   Typography
   ========================================================================== */
@font-face {
  font-family: 'bloomsburysans';
  src:
    url('./fonts/bloomsbury_sans-webfont.woff2') format('woff2'),
    url('./fonts/bloomsbury_sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.sf-bloomsbury {
  font-family: var(--sf-bloomsbury);
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Regular.woff2') format('woff2'),
      url('./fonts/Quicksand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Medium.woff2') format('woff2'),
      url('./fonts/Quicksand-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.sf-quicksand {
  font-family: var(--sf-quicksand);
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
      url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
      url('./fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
      url('./fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.sf-roboto {
  font-family: var(--sf-roboto);
}
