:root {
  --sf-header-height: 7rem;
  --sf-quicksand: 'Quicksand';
  --sf-bloomsbury: 'bloomsburysans';
  --sf-roboto: 'Roboto', sans-serif;
  --sf-font-body: var(--sf-quicksand), sans-serif; 
  --sf-font-heading: var(--sf-bloomsbury), var(--sf-quicksand), sans-serif;
  --sf-ease: cubic-bezier(0.25, 1, 0.5, 1);
  --sf-mobile-menu-speed: .5s;
}

main {
  margin-top: calc(var(--sf-header-height)* -1);
}

/* header */
#navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: var(--sf-header-height);
  padding: 0 max(3%, 1.8rem);
  background: transparent !important;
}

.navbar-brand {
  font-size: clamp(3rem, 3vw, 3rem);
  letter-spacing: -.05em;
  line-height: .9;
  margin: 0;
  padding: 0;
}

.navbar-toggler {
  border: 0;
  background: none;
}

.navbar-toggler-icon {
  background: none !important;
  height: 3.5em;
  width: 3.5em;
}
  
#navbarDropdown {
  position: fixed;
  top: 0;
  background: pink;
  left: 0;
  right: 0;
  min-height: 100svh;
  transform: translate3d(100%, -100%, 0) scale(.6) rotateX(40deg);
  border-radius: 0 0 0 100%;
  transition: transform var(--sf-mobile-menu-speed) var(--sf-ease), border-radius var(--sf-mobile-menu-speed) var(--sf-ease);
}

#navbarDropdown.show {
  transform: translate3d(0, 0, 0) scale(1) rotateY(0);
  border-radius: 0 0 0 0;
}

#navbarDropdown .navbar-nav {
  opacity: 0;
  transition: opacity .6s ease-out;
  transition-delay: 0s;
}

#navbarDropdown.show .navbar-nav {
  opacity: 1;
  transition-delay: calc(var(--sf-mobile-menu-speed) * 1.5);
}

.navbar-light .navbar-nav .nav-link {
  font-size: clamp(1.4rem, calc(5vw + 1rem), 7rem);
  font-family: var(--sf-font-heading);
  color: black;
}

/* FOOTER */
footer {
  background: #222 !important;
  font-size: 11px;
  color: #c5c5c5;
  padding: 10px 20px;
  font-family: var(--sf-roboto);
}

span.mpire-m,
footer a.mpire-link:hover {
 color: #c51520;
}

.dev-copyright {
  color: #717171;
}
/* ==========================================================================
   Typography
   ========================================================================== */
@font-face {
  font-family: 'bloomsburysans';
  src:
    url('./fonts/bloomsbury_sans-webfont.woff2') format('woff2'),
    url('./fonts/bloomsbury_sans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.sf-bloomsbury {
  font-family: var(--sf-bloomsbury);
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Regular.woff2') format('woff2'),
      url('./fonts/Quicksand-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Medium.woff2') format('woff2'),
      url('./fonts/Quicksand-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.sf-quicksand {
  font-family: var(--sf-quicksand);
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.woff2') format('woff2'),
      url('./fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.woff2') format('woff2'),
      url('./fonts/Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.woff2') format('woff2'),
      url('./fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.sf-roboto {
  font-family: var(--sf-roboto);
}
