#sf-background {
  background-color: var(--sf-theme-primary);
  transition:background-color var(--sf-theme-transition);
}

.sf-midground {
  top: auto;
  bottom: 0;
}

.sf-midground path {
  transition:fill var(--sf-theme-transition);
}