#sf-background {
  background-color: var(--sf-theme-primary);
  transition:background-color var(--sf-theme-transition);
  position: relative;
}

.sf-foreground {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition:background-color var(--sf-theme-transition), opacity var(--sf-theme-transition);
}

.sf-horizon {
  top: auto;
  bottom: 0;
}

.sf-horizon path {
  transition:fill var(--sf-theme-transition);
}

body.sf-intersecting-products #sf-background .sf-foreground {
  opacity: 1;
}
