.sf-section {
  min-height: 100vh;
}

.sf-section.sf-section__short {
  min-height: 50vh;
}

.sf-brandname {
  letter-spacing: -.05em;
  line-height: .9;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-family: var(--sf-font-heading);
}

.sf-object-fit {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sf-scaling-text {
  font-size: clamp(var(--sf-font-size-body), 5vw, var(--sf-font-size-heading)) !important;;
}

.sf-scaling-text > .sf-title {
  font-size: 100%;
}

.sf-scaling-text > .sf-subtitle {
  font-size: 30% !important;
}