.sf-section {
  min-height: 100vh;
}

a.sf-button {
  display: inline-flex;
  background: white;
  padding: .85em 2em .95em;
  line-height: 1;
  color: black;
  text-transform: uppercase;
  background-color: #00C4B3;
  border: 4px solid #f5e341;
}

.sf-section.sf-section__short {
  min-height: 50vh;
}

.sf-brandname {
  letter-spacing: -.05em;
  line-height: .9;
  margin: 0;
  padding: 0;
  display: inline-block;
  font-family: var(--sf-font-heading);
}

.sf-object-fit {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.sf-scaling-text {
  font-size: clamp(var(--sf-font-size-body), 5vw, var(--sf-font-size-heading)) !important;;
}

.sf-scaling-text > .sf-title {
  font-size: 100%;
}

.sf-scaling-text > .sf-subtitle,
.sf-scaling-text > a {
  font-size: 35% !important;
}

.sf-gap__small {
  gap: .25em
}